<ion-tabs select="home">
  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="home">
      <ion-icon name="leaf" class="blanco"></ion-icon>
      <ion-label class="parrafo blanco">Nogal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="list-box" class="blanco"></ion-icon>
      <ion-label class="parrafo blanco">Categorías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ordenes">
      <ion-icon name="basket" class="blanco"></ion-icon>
      <ion-label class="parrafo blanco">Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario">
      <ion-icon name="contact" class="blanco"></ion-icon>
      <ion-label class="parrafo blanco">Usuario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>